.diff {
  font-family: monospace;
}

.diff-side_left .diff-line_empty {
  background: linear-gradient(to right, transparent, rgb(144,238,144));
}

.diff-side_right .diff-line_empty {
  background: linear-gradient(to left, transparent, rgb(255,182,193));
}

.diff-line {
  height: 10pt;
  line-height: 10pt;
  font-size: 10pt;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.diff-line.diff-line_control {
  background-color: #aaa;
  text-align: center;
  color: #666;
}

.diff-line.diff-line_inserted {
  background-color: rgb(144,238,144);
}

.diff-line.diff-line_deleted {
  background-color: rgb(255,182,193);
}
