.diff {
  font-family: monospace;
}

.diff-side_left .diff-line_empty {
  background: linear-gradient(to right, transparent, rgb(144,238,144));
}

.diff-side_right .diff-line_empty {
  background: linear-gradient(to left, transparent, rgb(255,182,193));
}

.diff-line {
  height: 16pt;
  line-height: 16pt;
  font-size: 12pt;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.diff-line.diff-line_control {
  background-color: #999;
  text-align: center;
  color: white;
}

.diff-line.diff-line_inserted {
  background-color: rgb(144,238,144);
}

.diff-line.diff-line_deleted {
  text-decoration: line-through;
  background-color: rgb(255,182,193);
}